<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserSettingsFilePath" value="%AppData%\Graphical Telnet Client\UserSettings.dll.config"/>
    <add key="StationTypes" value="Analogue or VM:0000,Loopback:004C,TDM or DT IP:0004,3rd party SIP (eg ST500):00D8"/>
    <add key="TrunkTypes" value="Analogue:000C,ISDN or Loopback:0034,SIP:00DC"/>
  </appSettings>
</configuration>