<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultServerAddress" value=""/>
    <add key="DefaultServerPort" value="5964"/>
    <add key="DefaultOutputDirectory" value="%userprofile%\Downloads"/>
    <add key="DefaultFileName" value="TelnetOutput"/>
    <add key="AutomaticallySaveToFile" value="true"/>
  </appSettings>
</configuration>